################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################



/.vs/
/v2rayN/bin/Debug/app.publish
/v2rayN/bin/Debug
/v2rayN/bin/Release
/v2rayN/obj

/v2rayUpgrade/bin/Debug
/v2rayUpgrade/obj/Debug 
/v2rayUpgrade/bin/Release
/v2rayUpgrade/obj/Release
.suo
.sln
